body,html{
	width: 100%;
	height: 100%; 
	font-family: Arial, Verdana, sans-serif; 
	font-size: 85%; 
}

div.navbar{
	width: 100%; 
	height: 10%; 
	margin-top: .8%; 
}

ul{
	list-style-type: none; 
	float: right; 
	margin: 0;
	margin-right: 2%;  
	padding: 0; 
}

li{
	display: inline-block;
	min-width: 55px; 
	min-height: 20px; 
}

.squarelink{
	background-image:url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
	background-position: 28% 90%; 
	min-height: 20px; 
	min-width: 30px; 
}

.signin{ 
	min-width: 70px; 
	height: 100%; 
	padding: 7px; 
	background-color: #4387fd; 
	color: white; 
	font-weight: bold; 
	font-size: 13px; 
}

div.logo{
	height: 10%; 
	margin: auto; 
	padding-top: 10%; 
	min-height: 10%;
	padding-bottom: 1.5%;  
}

img{
	display: block; 
	margin: auto;
	width: 15%; 
}

div.form{
	margin: auto;
	height: 50%;
}

input{
	display: block; 
	margin:auto; 
	width: 30%;
	padding: .7%;
	border: none; 
	border-radius: 0; 
	box-shadow: 0 1px 2px 1px #cccccc;
}

input:hover, input:focus{
	box-shadow: 0 3px 5px 2px #cccccc;
}

div.search_buttons{
	margin: auto; 
	width: 50%; 
	margin-bottom: 1.5%; 
}


input.google_search_button{
	display: inline; 
	width: 14%; 
	margin-left: 35%; 
	margin-top: 5%; 
}

input.lucky_button{
	display: inline; 
	width: 15%; 
	margin-left: 1%; 
}

a{
	text-decoration: none; 
}

p{
	text-align: center; 
}

#p2{
	margin-top: 2%; 
}

div.footer{
	width: 100%; 
	position: fixed; 
	top: 95%; 
	display: inline; 
	height: 150px; 
	background-color: #eee; 
}

div.rightfooter{
	vertical-align: top; 
	display: inline-block; 
	width: 50%; 
	height: 100%;
	float: right;  
}

div.leftfooter{
	vertical-align: top; 
	display: inline-block; 
	width: 50%;
	height: 100%; 
	float: left; 
}

